#Set Environment Variables
export DATABASE=development
export BACKUPDIR="${HOME}/Development/Data/Backups"
export PGUSER=postgres
export HOST=localhost
export PORT=5432
export PGPATH="/usr/local/Cellar/postgresql/10.3/bin"
export PSQLDIR="${HOME}/workspace/datascience/data_pipeline/psql_pipeline_functions"
export RDIR="${HOME}/workspace/datascience/data_pipeline/r_pipeline_functions"
export SHDIR="${HOME}/workspace/datascience/data_pipeline/shell_pipeline_functions"
export RPATH="/usr/local/bin"
export HEROKUPATH="/usr/local/bin"
export AWSPATH="/usr/local/bin"
export DBNAME="${DATABASE}_`date +%s`" 
export APPPATH="${HOME}/workspace/amitree"
export PATH="${APPPATH}/bin:${PATH}"

export DATABASE_URL=`$HEROKUPATH/heroku config:get DATABASE_URL --app amitree-data-pipeline`
export AMITREE_READ_ONLY_URL=`$HEROKUPATH/heroku config:get AMITREE_READ_ONLY_URL --app amitree-data-pipeline`
export SMARTYSTREETS_API_AUTH_ID=`$HEROKUPATH/heroku config:get SMARTYSTREETS_API_AUTH_ID --app amitree-data-pipeline`
export SMARTYSTREETS_API_AUTH_TOKEN=`$HEROKUPATH/heroku config:get SMARTYSTREETS_API_AUTH_TOKEN --app amitree-data-pipeline`
export TIGER_API_KEY=`$HEROKUPATH/heroku config:get TIGER_API_KEY --app amitree-data-pipeline`
export DELIGHTED_API_KEY=`$HEROKUPATH/heroku config:get DELIGHTED_API_KEY --app amitree-data-pipeline`
export STRIPE_SECRET_KEY=`$HEROKUPATH/heroku config:get STRIPE_SECRET_KEY --app amitree-data-pipeline`
export MIXPANEL_API_KEY=`$HEROKUPATH/heroku config:get MIXPANEL_API_KEY --app amitree-data-pipeline`

#Old Env Vars
#export PGPASSFILE="${HOME}/.pgpass"
#export PGPATH="/usr/local/Cellar/postgresql/9.6.5/bin"
#export LOCAL_DATABASE_URL="postgres://postgres:`cut -f 5 -d ":" "${HOME}/.pgpass"`@localhost:5432/development"
#export PARABOX_ID=`aws ec2 describe-instances --filters "Name=tag:Name,Values=pa-R-abox" | jq '.Reservations|.[]|.Instances|.[]|.InstanceId'`
#export PARABOX="${HOME}/workspace/datascience"
#export PARABOX_PEM="${PARABOX}/paRabox.pem"
#export PARABOX_DNS=`aws ec2 describe-instances --filters "Name=tag:Name,Values=pa-R-abox" | jq '.Reservations|.[]|.Instances|.[]|.PublicDnsName'`
#export PARABOX_ADD="ubuntu@${PARABOX_DNS//\"/}"
